
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        
        <!-- Footer starts here -->
		<footer>
      <div class="footer-container">
          <div class="footer-links">
      <h4>Quick Links</h4>
      <ul>
          <li>
              <a href="#">Home</a>
          </li>
          <li>
              <a href="#">About Us</a>
          </li>
      </ul>
      </div>
      <!-- Footer Social Media icons -->
      <div class="footer-icons">
          <h4>Follow us on</h4>
      <div class="social-icons">
              <a class="insta-icon" href="#">
                  <i class="fa fa-instagram" aria-hidden="true"></i>
              </a>
              <a class="facebook-icon" href="#">
                  <i class="fa fa-facebook" aria-hidden="true"></i>
              </a>
              <a class="linkedin-icon" href="#">
                  <i class="fa fa-linkedin" aria-hidden="true"></i>
              </a>          
          </div>
      </div>
      <!-- Footer contact us -->
      <div class="footer-contact">
          <h4>Contact Us</h4>
          <div class= "border"></div>
          <ul>
              <li><i class="fa fa-map-marker" aria-hidden="true"></i>Jamshedpur, India</li>
              <li><i class="fa fa-phone" aria-hidden="true"></i>123456789</li>
              <li><i class="fa fa-envelope-o" aria-hidden="true"></i>info.pariksha@gmail.com</li>
          </ul>
      </div>
  </div>
  <br>
  
  
</footer>
<!-- Footer ends here -->