<div class="row d-flex justify-content-center align-items-center">
  <div class="card w-75 mb-3">
    <div class="card-body">
      <h4 class="card-title mb-3">Category Name</h4>
      <input
        type="text"
        class="form-control mb-4"
        placeholder="Category Name"
        required
      />
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label mb-2"
          ><h4>Description</h4></label
        >
        <textarea class="form-control" rows="4" required></textarea>
      </div>
      <a
        href="#"
        class="btn btn-lg text-white"
        style="background-color: #ffa962"
        type="submit"
        ><strong> Add New Category</strong></a
      >
    </div>
  </div>
</div>
