<div class="card text-center mt-5">
  <div class="card-header"><h3>Menu</h3></div>
</div>

<a
  class="btn btn-outline-danger btn-lg d-grid gap-2 mb-2 mt-3"
  routerLink="/admin"
  ><strong>Home</strong></a
>
<a
  class="btn btn-outline-danger btn-lg d-grid gap-2 mb-2"
  routerLink="/admin/profile"
  ><strong>Profile</strong></a
>
<a
  class="btn btn-outline-danger btn-lg d-grid gap-2 mb-2"
  routerLink="/admin/categories"
  ><strong>Categories</strong></a
>
<a
  class="btn btn-outline-danger btn-lg d-grid gap-2 mb-2"
  routerLink="/admin/add-category"
  ><strong>Add Categories</strong></a
>
<a
  class="btn btn-outline-danger btn-lg d-grid gap-2 mb-2"
  routerLink="/admin/quizzes"
  ><strong>Quizzes</strong></a
>
<a
  class="btn btn-outline-danger btn-lg d-grid gap-2 mb-2"
  routerLink="/admin/add-quiz"
  ><strong>Add Quizzes</strong></a
>
<a
  class="btn btn-outline-light btn-lg d-grid gap-2 mb-2"
  routerLink="/admin/profile"
  ><strong>Logout</strong></a
>
